In [55]:
import json
import subprocess
import pandas as pd
from pathlib import Path

# ==============================
# üîß USER OVERRIDES (EDIT THESE)
# ==============================

# Minutes overrides (full names, exactly as in build.csv)
MINUTES_OVERRIDES = {
    "coby white": 0,
    "duncan robinson": 25,
    "cade cunningham": 0,
    "daniss jenkins": 24.5,
    "caris levert": 19,
    "ausar thompson": 27,
    "jamal shead": 18.5,
    "scottie barnes": 34,
    "bub carrington": 28,
    "cj mccollum": 0,
    "khris middleton": 0,
    "justin champagnie": 24,
    "joel embiid": 31.5,
    "james harden": 35,
    "mikal bridges": 35,
    "trey murphy III": 36,
    "kristaps porzingis": 20,
    "nickeil alexander-walker": 32,
    "jordan goodwin": 24,
    "jock landale": 23,
    "jusuf nurkic": 27.5,
    "lauri markkanen": 32.5,
    "jarred vanderbilt": 23,
    "onyeka okongwu": 0,
    "lebron james": 0,
    "nicolas claxton": 25,
    "ajay mitchell": 30,
    "shai gilgeous-alexander": 0,
    "brandon miller": 0,
    "zaccharie risacher": 23,
    "vit krejci": 25,
    "herbert jones": 0,
    "trey murphy III": 0,
    "jalen williams": 32.5,
    "moussa diabate": 26,
    "collin sexton": 26,
    "derik queen": 30,
    "jaden ivey": 28,
    "bub carrington": 30,
    "jaren jackson jr.": 0,
    "cedric coward": 0,
    "vince williams jr.": 0,
    
    
    
    
    
        
    



}
# Ownership overrides (percent units, NOT fractions)
OWN_OVERRIDES = {
    # "Desmond Bane": 28.0,
}

# Exposure controls (used later in sim)
EXPOSURE_MIN = {
    
    
    
}

EXPOSURE_MAX = {
    
    
}
# ==============================
# üíæ WRITE OVERRIDES TO DISK
# ==============================

overrides = {
    "minutes": MINUTES_OVERRIDES,
    "own": OWN_OVERRIDES,
}
overrides_path = Path("data") / "overrides.json"
overrides_path.write_text(json.dumps(overrides, indent=2), encoding="utf-8")
# ==============================
# üîÅ RE-RUN MODEL (RECOMPUTES PROJECTIONS)
# ==============================
subprocess.run(["python", "model.py"], check=True)
# ==============================
# üìä LOAD UPDATED CLEAN.CSV
# ==============================
df = pd.read_csv("clean.csv")
df = df.sort_values("VALUE", ascending=False).iloc[:, 3:14,]
df.head(30)




team = "mem"

df[df["TEAM"].str.contains(team, case=False, na=False)]



# name = "tor"

# df[df["PLAYER"].str.contains(name, case=False, na=False)]

,PLAYER,TEAM,OPPONENT,POS,FD_GAME,SALARY,SAL,PROJECTION,FD_SD,VALUE,MINUTES
76,J. Landale,MEM,PHX,C,PHO@MEM,4800.0,$4800,27.74,7.00,5.78,23.00
88,J. Wells,MEM,PHX,SG/SF,PHO@MEM,5000.0,$5000,25.97,6.99,5.19,31.50
38,S. Aldama,MEM,PHX,PF/C,PHO@MEM,7200.0,$7200,35.77,8.29,4.97,29.50
81,J. Morant,MEM,PHX,PG,PHO@MEM,7800.0,$7800,26.69,7.15,3.42,20.00
114,C. Spencer,MEM,PHX,PG/SG,PHO@MEM,6300.0,$6300,21.16,6.18,3.36,18.72
160,K. Caldwell-Pope,MEM,PHX,SG/SF,PHO@MEM,4000.0,$4000,11.29,4.82,2.82,12.78
196,O. Prosper,MEM,PHX,PF,PHO@MEM,3500.0,$3500,6.94,3.39,1.98,8.11
232,J. Small,MEM,PHX,PG,PHO@MEM,3600.0,$3600,4.31,2.95,1.20,5.10
296,J. Mashack,MEM,PHX,SG,PHO@MEM,3500.0,$3500,1.54,1.97,0.44,2.03
380,G. Jackson,MEM,PHX,NaN,NaN,4000.0,$4000,NaN,NaN,0.00,18.00
377,J. Konchar,MEM,PHX,SF,PHO@MEM,3500.0,$3500,0.00,0.00,0.00,0.00
324,J. Jr.,MEM,PHX,PF/C,PHO@MEM,7600.0,$7600,0.00,0.00,0.00,0.00
179,C. Bassey,MEM,PHX,NaN,NaN,NaN,NaN,8.35,4.14,0.00,7.30
354,V. Jr.,MEM,PHX,PG/SG,PHO@MEM,3900.0,$3900,0.00,0.00,0.00,0.00
339,C. Coward,MEM,PHX,SG/SF,PHO@MEM,5700.0,$5700,0.00,0.00,0.00,0.00
340,Z. Edey,MEM,PHX,C,PHO@MEM,5200.0,$5200,0.00,0.00,0.00,0.00

In [56]:
import importlib
import sim_prep
importlib.reload(sim_prep)
from sim_prep import run_slate_sim


CONTEST_PICK = "piggy"

TEAM_LOCK_MINUTES = {
    # 7:00 ET ‚Äî first lock
    "CHI": 100,
    "DET": 100,
    "WAS": 100,
    "PHI": 100,
    "TOR": 100,
    "CHA": 100,

    # 7:30 ET
    "NOP": 130,
    "ATL": 130,
    "ORL": 130,
    "BKN": 130,
    "LAC": 130,
    "NYK": 130,

    # 8:00 ET
    "UTA": 200,
    "OKC": 200,
    "PHX": 200,
    "MEM": 200,

    # 9:30 ET
    "LAL": 330,
    "SAS": 330,

    # 10:00 ET
    "MIL": 400,
    "GSW": 400,
    "HOU": 400,
    "POR": 400,
}















# -----------------------------
# OPTIONAL: Late swap (leave commented until you need it)
# -----------------------------
# If you want late swap:
# 1) set CURRENT_LOCK_MINUTE to the "most recent lock time" on your TEAM_LOCK_MINUTES scale
# 2) set UPLOADED_FD_CSV to the FanDuel entries CSV you exported
# The sim will treat all teams with lock_time <= CURRENT_LOCK_MINUTE as locked.
#
# CURRENT_LOCK_MINUTE = 100
# UPLOADED_FD_CSV = "path/to/your/fanduel_entries.csv"


UPLOADED_FD_CSV = "data/uploaded.csv"
CURRENT_LOCK_MINUTE = 0 # example

report = run_slate_sim(
    clean_csv="clean.csv",
    contest_pick=CONTEST_PICK,
    team_lock_minutes=TEAM_LOCK_MINUTES,
    current_lock_minute=CURRENT_LOCK_MINUTE,
    seed=7,
    entries_you=150,
    exposure_min=EXPOSURE_MIN,
    exposure_max=EXPOSURE_MAX,
    output_dir="output",
    # uploaded_fd_csv=UPLOADED_FD_CSV,
    # num_sims_per_entry=10,
)

======================================================================
[sim_prep] run_slate_sim start | 2026-01-07 15:35:21 | contest_pick=piggy | seed=7
======================================================================
[sim_prep] Contest (for summary only): K Wed NBA Piggy Bank Shot
[sim_prep] entries_you=150 | cap=60000 | min_sal=59000
[sim_prep] Loading clean.csv ...
[sim_prep] punt_fade: dropped 147 (SAL<4200 & <3.6x), kept forced=0
[sim_prep] Using FD_SD (fallback where missing).
[sim_prep] No locked teams.
[sim_prep] Normal mode. Simulating + building lineups...
[sim_prep] num_sims=2200 | prints every 250
[sim] 500/2200 | unique=403 | field_pool=403 | 7.77s
[sim] 1000/2200 | unique=801 | field_pool=801 | 15.46s
[sim] 1250/2200 | unique=1002 | field_pool=1002 | 19.27s
[sim] 1500/2200 | unique=1193 | field_pool=1193 | 23.14s
[sim] 1750/2200 | unique=1392 | field_pool=1200 | 26.97s
[sim] 2000/2200 | unique=1578 | field_pool=1200 | 30.79s
[sim_prep] Candidate unique lineups: 1732
[sim_prep] ROI eval -> roi_sims=80, field_pool=1200
[roi] 25/80 sims | elapsed=0.0s | field_pool=1200
[roi] 50/80 sims | elapsed=0.0s | field_pool=1200
[roi] 75/80 sims | elapsed=0.0s | field_pool=1200
[OK] wrote output/report_lineups.csv
[OK] wrote output/report_exposures.csv
[OK] wrote output/summary.csv
[OK] wrote output/roi_summary.csv
[OK] wrote output/fd_upload.csv
[sim_prep] done | unique=150 | avg_salary=59573.3 | min_salary=59000

In [57]:
import importlib
import cash_opt
importlib.reload(cash_opt)
from cash_opt import cash_optimal_lineup

lineup = cash_optimal_lineup(
    clean_csv="clean.csv",
    # locks=["derik queen"],
)
lineup

      Slot      PLAYER_FULL TEAM    POS  FD_GAME  SALARY  PROJECTION     VALUE
0       PG      Luka Doncic  LAL     PG   LAL@SA   12400       72.80  5.870968
1       PG   Daniss Jenkins  DET     PG  CHI@DET    4600       27.25  5.923913
2       SG    Ajay Mitchell  OKC  PG/SG  UTA@OKC    5300       32.40  6.113208
3       SG       Jaden Ivey  DET  PG/SG  CHI@DET    4000       28.76  7.190000
4       SF    Jalen Johnson  ATL  SF/PF   NO@ATL   10800       58.99  5.462037
5       SF   Ausar Thompson  DET  SG/SF  CHI@DET    5500       30.04  5.461818
6       PF  Bilal Coulibaly  WAS  SF/PF  WAS@PHI    5500       31.18  5.669091
7       PF      Derik Queen  NOP   PF/C   NO@ATL    7000       38.48  5.497143
8        C        Paul Reed  DET      C  CHI@DET    4900       40.26  8.216327
TOTAL                 TOTAL                        60000      360.16  6.002667